@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    line-height: 1.6;
}

header {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
    transition: transform 0.3s ease-in-out;
}

header:hover::before {
    transform: scale(1.05);
}

h1 {
    font-size: 3em;
    text-align: center;
    z-index: 1000;
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 20px;
    transition: font-size 0.3s ease;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: calc(33.333% - 30px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
    font-family: "Arsenal SC", sans-serif;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.card:hover h2 {
    color: #007bff;
}

.card p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
    flex-grow: 1;
}


footer {
    background-color: transparent;
    color: #333;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc(50% - 30px);
    }
}


